@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

button{
    background-color: rebeccapurple;
    color: #fff;
    padding: 1rem;
    border-radius: 4px;
    border:none;
    font-family: inherit;

}
.popup-container{

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0,0,0.5);
    display: none;
    align-items: center;
    justify-content: center;
}
.popup-container.active{
    display: flex;
}
.popup{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgb(0, 0,0,0.3);
    width: 500px;
    padding: 2rem;
    position: relative;

}
.popup button{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    color: rebeccapurple;
    font-size: 2rem;
    


}